{% extends 'master.html' %} {% block content %}
<div class="d-flex justify-content-center align-items-center bg-light">
  <div class="container my-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="card-title text-primary mb-3">{{ book.name }}</h2>
        <hr />
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Publisher:</strong> {{ book.publisher }}</p>
        <p><strong>Review:</strong> {{ book.review }}</p>
        <a href="{% url 'books_list' %}" class="btn btn-secondary mt-3"
          >Back to Books List</a
        >
      </div>
    </div>
  </div>
</div>

{%endblock content%}
